In [ ]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/youtube/youtube.csv",index_col=0)
df.head()

,title,channelTitle,categoryId,view_count,likes,dislikes,comment_count,channelId,trending_date2
0,[신병] 물자창고,장삐쭈,23,1893473,38249,730,8595,UChbE5OZQ6dRHECsX0tEPEZQ,2021-01-01
1,RAIN(비) - 나로 바꾸자 Switch to me (duet with JYP) MV,RAIN's Official Channel,10,2600864,0,0,20129,UCxXgIeE5hxWxHG6dz9Scg2w,2021-01-01
2,2020년 제야의 종 온라인 타종행사 | 보신각 현장 행사는 진행하지 않습니다.,서울시 · Seoul,29,347049,3564,120,178,UCZUPZW5idAxYp-Asj__lVAA,2021-01-01
3,고기남자의 칠면조 파티,고기남자 MeatMan,26,528458,15372,280,3470,UCT3CumbFIJiW33uq0UI3zlg,2021-01-01
4,골목 3mc를 분노하게 만든 마음고생이 심했을 공릉 백반집 사장님의 푸념?! [예능...,스브스밥집,24,494904,3918,111,3142,UCdWgRSfttvDucq4ApcCg5Mw,2021-01-01

In [ ]:
ans = list(df.loc[df.channelId.isin(df.channelId.value_counts().head().index)].channelTitle.unique())

In [ ]:
ans

['파뿌리', '짤툰', '런닝맨 - 스브스 공식 채널', '엠뚜루마뚜루 : MBC 공식 종합 채널', 'SPOTV']

In [ ]:
ans2 = df.loc[df.channelId.isin(df.channelId.value_counts().head().index)].channelTitle.unique()

In [ ]:
ans2

array(['파뿌리', '짤툰', '런닝맨 - 스브스 공식 채널', '엠뚜루마뚜루 : MBC 공식 종합 채널', 'SPOTV'],
      dtype=object)

In [ ]:
list(df.loc[df.dislikes > df.likes].channelTitle.unique())

['핫도그TV',
 'ASMR 애정TV',
 '하얀트리HayanTree',
 '양팡 YangPang',
 '철구형 (CHULTUBE)',
 '왜냐맨하우스',
 '(MUTUBE)와꾸대장봉준',
 '오메킴TV',
 '육지담',
 'MapleStory_KR',
 'ROAD FIGHTING CHAMPIONSHIP',
 '사나이 김기훈',
 '나혼자산다 STUDIO',
 'Gen.G esports']

In [ ]:
count(df.loc[df.channelId>=2])

NameError: ignored

In [ ]:
df.loc[count(df.channelId)>=2]

NameError: ignored

In [ ]:
ans1 = df[['channelTitle','channelId']].drop_duplicates().channelId.value_counts()
ans2 = ans1[ans1>1]
print(len(ans2))

71

In [ ]:
ans1

UCtQYhzJWFai1y30UIA3uwYQ    3
UC98TOxKQk4aLcx0EjIK0LkQ    3
UC4nEQI74rZkFKlUSwi0ur4A    2
UCn64fSqF2l4rkkjtQUpku2A    2
UCjO3ji06DxmTM1RrzLVwmkA    2
                           ..
UCuZu8NrpBG4WPXRi-hPBl-A    1
UCDrAR1OWC2MD4s0JLetN0MA    1
UCx2MVBsdTJ_sv0LiUpSQU2Q    1
UCu2R3TCLSxYV8pRyBGNOh2g    1
UCRCK5FCJtomQT3b88jXI_DA    1
Name: channelId, Length: 1770, dtype: int64

In [ ]:
df['trending_date2'] = pd.to_datetime(df['trending_date2'])
ans = df.loc[df['trending_date2'].dt.day_name() == 'Sunday'].categoryId.value_counts().index[0]
print(ans)

24

In [ ]:
ans = pivot(index = 'categorId', columns = df['trending_date2'].dt.day_name())

In [ ]:
ans = df.groupby([df['trending_date2'].dt.day_name(),'categoryId'], as_index=False).size()

In [ ]:
ans

    trending_date2  categoryId  size
0           Friday           1   243
1           Friday           2   120
2           Friday          10   833
3           Friday          15   187
4           Friday          17   633
..             ...         ...   ...
100      Wednesday          25   468
101      Wednesday          26   385
102      Wednesday          27   212
103      Wednesday          28   165
104      Wednesday          29    12

[105 rows x 3 columns]

In [ ]:
ans2 = ans.pivot(index = 'categoryId', columns='trending_date2')
display(ans2)

                 size
trending_date2 Friday Monday Saturday Sunday Thursday Tuesday Wednesday
categoryId
1                 243    263      255    274      246     257       234
2                 120    105      119     99      128     119       129
10                833    837      776    830      890     894       917
15                187    215      198    217      207     208       207
17                633    668      592    636      682     708       706
19                 90     92       87     91       92      89        85
20                283    298      296    289      282     285       291
22               1288   1373     1289   1337     1341    1375      1333
23                568    594      570    556      560     569       566
24               2976   3148     3066   3096     2954    3084      3090
25                444    453      422    437      470     452       468
26                369    378      364    363      375     394       385
27                183    205      183    199      194     194       212
28                171    160      173    167      166     161       165
29                 12     10       10      9       13      11        12

In [ ]:
df.head()

,title,channelTitle,categoryId,view_count,likes,dislikes,comment_count,channelId,trending_date2
0,[신병] 물자창고,장삐쭈,23,1893473,38249,730,8595,UChbE5OZQ6dRHECsX0tEPEZQ,2021-01-01
1,RAIN(비) - 나로 바꾸자 Switch to me (duet with JYP) MV,RAIN's Official Channel,10,2600864,0,0,20129,UCxXgIeE5hxWxHG6dz9Scg2w,2021-01-01
2,2020년 제야의 종 온라인 타종행사 | 보신각 현장 행사는 진행하지 않습니다.,서울시 · Seoul,29,347049,3564,120,178,UCZUPZW5idAxYp-Asj__lVAA,2021-01-01
3,고기남자의 칠면조 파티,고기남자 MeatMan,26,528458,15372,280,3470,UCT3CumbFIJiW33uq0UI3zlg,2021-01-01
4,골목 3mc를 분노하게 만든 마음고생이 심했을 공릉 백반집 사장님의 푸념?! [예능...,스브스밥집,24,494904,3918,111,3142,UCdWgRSfttvDucq4ApcCg5Mw,2021-01-01

In [ ]:
ans = df.comment_count/df.viewcount

NameError: ignored

In [ ]:
ans = df.loc[df.view_count !=0]

In [ ]:
ans

,title,channelTitle,categoryId,view_count,likes,dislikes,comment_count,channelId,trending_date2
0,[신병] 물자창고,장삐쭈,23,1893473,38249,730,8595,UChbE5OZQ6dRHECsX0tEPEZQ,2021-01-01
1,RAIN(비) - 나로 바꾸자 Switch to me (duet with JYP) MV,RAIN's Official Channel,10,2600864,0,0,20129,UCxXgIeE5hxWxHG6dz9Scg2w,2021-01-01
2,2020년 제야의 종 온라인 타종행사 | 보신각 현장 행사는 진행하지 않습니다.,서울시 · Seoul,29,347049,3564,120,178,UCZUPZW5idAxYp-Asj__lVAA,2021-01-01
3,고기남자의 칠면조 파티,고기남자 MeatMan,26,528458,15372,280,3470,UCT3CumbFIJiW33uq0UI3zlg,2021-01-01
4,골목 3mc를 분노하게 만든 마음고생이 심했을 공릉 백반집 사장님의 푸념?! [예능...,스브스밥집,24,494904,3918,111,3142,UCdWgRSfttvDucq4ApcCg5Mw,2021-01-01
...,...,...,...,...,...,...,...,...,...
60394,*풀코스로 먹습니다* 🍗치킨 + 🍕피자 + 🥧디저트,공룡,22,538190,16671,209,3117,UCWf4QKgnTyvmehcRqw-JldQ,2021-10-19
60395,[놀면 뭐하니? 예고] 우린 깐부잖아🦑 놀뭐에 등장한 월드클래스 초대손님!! MBC...,놀면 뭐하니?,24,1607562,14615,258,1141,UCx6jsZ02B4K3SECUrkgPyzg,2021-10-19
60396,먹방 전쟁 : 사랑스러War (feat. 401 정육식당),김종국 GYM JONG KOOK,17,1125911,26490,263,1915,UCoe-0EVDJnjlSoPK8ygcGwQ,2021-10-19
60397,＂너.. 광수지?＂ 협상에 거짓말부터 던지는 광수 닮은꼴 김연경 선수 [런닝맨|21...,스브스 예능맛집,24,1741773,14994,304,802,UCnx4Fi4cmkLGDiFfZ311wWw,2021-10-19
60398,ENHYPEN (엔하이픈) 'Tamed-Dashed' Official MV,HYBE LABELS,10,13753485,1784532,9737,195461,UC3IZKseVpdzPSBaWxBxundA,2021-10-19

In [ ]:
ans = ans.copy()
ans['ratio'] = (ans['comment_count']/ans['view_count']).dropna()
result = ans.sort_values(by='ratio', ascending = False).iloc[0].title
print(result)

60분 동안 댓글이 달리지 않으면, 영상이 삭제됩니다. (챌린지)

In [ ]:
ans.sort_values(by='ratio', ascending = False).iloc[0]

title             60분 동안 댓글이 달리지 않으면, 영상이 삭제됩니다. (챌린지)
channelTitle                                       팩토리
categoryId                                          24
view_count                                     1214527
likes                                            38246
dislikes                                           528
comment_count                                   196166
channelId                     UCs8R3nVeg0E100H6C8qozgw
trending_date2                              2021-09-02
ratio                                         0.161516
Name: 50830, dtype: object

In [ ]:
ans = df.loc[df['view_count'] != 0]

In [ ]:
ans = ans.copy()

In [ ]:
ans['ratio'] = (ans.comment_count/ans.view_count).dropna()

In [ ]:
ans = ans.loc[ans.ratio != 0]

In [ ]:
result = ans.sort_values(by='ratio')

In [ ]:
result.iloc[0].title

'Join the BTS #PermissiontoDance Challenge only on YouTube #Shorts'

In [ ]:
ans = df.loc[(df.likes !=0) &  (df.dislikes !=0)]

In [ ]:
num = (df.dislikes/df.likes).sort_values().index[0]

In [ ]:
result = df.iloc[num].title

In [ ]:
result

"국힙 래퍼 데프콘의 자존심을 건 불꽃 튀는 상품 판매! Let's go bebe 🚀 [쓔퍼맨] EP.3 대학로지구 #EVENT"

In [ ]:
df.head()

,title,channelTitle,categoryId,view_count,likes,dislikes,comment_count,channelId,trending_date2,ratio
0,[신병] 물자창고,장삐쭈,23,1893473,38249,730,8595,UChbE5OZQ6dRHECsX0tEPEZQ,2021-01-01,38406
1,RAIN(비) - 나로 바꾸자 Switch to me (duet with JYP) MV,RAIN's Official Channel,10,2600864,0,0,20129,UCxXgIeE5hxWxHG6dz9Scg2w,2021-01-01,38406
2,2020년 제야의 종 온라인 타종행사 | 보신각 현장 행사는 진행하지 않습니다.,서울시 · Seoul,29,347049,3564,120,178,UCZUPZW5idAxYp-Asj__lVAA,2021-01-01,38406
3,고기남자의 칠면조 파티,고기남자 MeatMan,26,528458,15372,280,3470,UCT3CumbFIJiW33uq0UI3zlg,2021-01-01,38406
4,골목 3mc를 분노하게 만든 마음고생이 심했을 공릉 백반집 사장님의 푸념?! [예능...,스브스밥집,24,494904,3918,111,3142,UCdWgRSfttvDucq4ApcCg5Mw,2021-01-01,38406

In [ ]:
ans = df.loc[df.channelId == df.channelId.value_counts().index[0]].channelTitle

In [ ]:
ans.unique()

array(['짤툰'], dtype=object)

In [ ]:
df.channelId.value_counts()

UCszFjh7CEfwDb7UUGb4RzCQ    372
UClzB2iZ5jPoTNz0S-QU6Wiw    318
UCtm_QoN2SIxwCE-59shX7Qg    318
UCaKod3X1Tn4c7Ci0iUKcvzQ    313
UCiwQRG2sCcfjKkgxMEdJGPg    293
                           ...
UCj00eA-Q0lokXCA6JAa_grw      1
UCdtY7-_h-KgBTXHJfTk8wwQ      1
UCESC_GRUe4Z7-OOxk_AWm5Q      1
UCGuE0TrBNIZKfordUwAQe2w      1
UCNh_yWrspnQbZDZijQFyjbw      1
Name: channelId, Length: 1770, dtype: int64

In [ ]:
ans = (df[['title','channelId']].value_counts() >= 20).sum()

In [ ]:
ans

40

In [ ]:
ans = (df[['title','channelId']].value_counts() >= 20)

In [ ]:
ans

title                                                           channelId
컵라면 먹을 때 절대 일어날리 없는 상황들 ㅋㅋㅋ                                     UCmzMtXrJgfCqA0rfhz8_P4A     True
대한민국 VS 투르크메니스탄 : FIFA 카타르 월드컵 2차 예선 하이라이트 - 2021.06.05         UCpjOmwiy88a9EV3Rv8ukJgw     True
극과 극을 살고 있는 인도의 갑부와 빈곤층들!                                       UCi9Sl8GnFdYoqEVXnojBPJw     True
2주더놀릴예정                                                         UCaKod3X1Tn4c7Ci0iUKcvzQ     True
대박... 멧돼지를 아들로 삼은 할아버지｜KBS 주주클럽 050410 방송                       UCAhKKbDO9-ymWZ_7iAFLBQQ     True
                                                                                            ...
천재 친구 황봉황 [총몇명 스토리2]                                            UCRuSxVu4iqTK5kCh90ntAgA    False
담배충 [병맛더빙/웃긴영상]                                                 UCUK4YjvUvHrFQwTFXwkUIng    False
Official Trailer | The Falcon and The Winter Soldier | Disney+  UCvC4D8onUfXzvjTOM-dBfEA    False
[월드컵최종예선] 오만 VS 베트남 4차전 H/LㅣAFC 아시아지역 월드컵 최종예선                  UCtybqqaTj6Nx74Azdz1KrsA    False
깐부끼리는 니꺼 내꺼가 없는거야                                               UCu9BCtGIEr73LXZsKmoujKw    False
Length: 7867, dtype: bool

In [1]:
import pandas as pd


channel =pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/youtube/channelInfo.csv')
video =pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/youtube/videoInfo.csv')
display(channel.head())
display(video.head())

,channelid,subcnt,viewcnt,videocnt,ct,channelname
0,UCkQCwnkQfgSuPTTnw_Y7v7w,1310000,410238653,736,2021-09-30 03:01:03,꽈뚜룹
1,UCkQCwnkQfgSuPTTnw_Y7v7w,1310000,412531322,736,2021-09-30 09:01:03,꽈뚜룹
2,UCkQCwnkQfgSuPTTnw_Y7v7w,1310000,412531322,735,2021-09-30 15:01:03,꽈뚜룹
3,UCkQCwnkQfgSuPTTnw_Y7v7w,1310000,412531322,737,2021-09-30 21:01:03,꽈뚜룹
4,UCkQCwnkQfgSuPTTnw_Y7v7w,1320000,412531322,737,2021-10-01 03:01:04,꽈뚜룹

,videopk,viewcnt,likecnt,dislikecnt,favoritecnt,cmcnt,ct,videoname
0,c5JQp6xafqc,1667010,30474,706,0,6587,2021-10-10 15:20:03,공범 EP1
1,c5JQp6xafqc,1669089,30495,707,0,6589,2021-10-10 15:30:03,공범 EP1
2,c5JQp6xafqc,1674759,30522,711,0,6596,2021-10-10 15:40:02,공범 EP1
3,c5JQp6xafqc,1677026,30555,712,0,6604,2021-10-10 15:50:03,공범 EP1
4,c5JQp6xafqc,1681824,30585,713,0,6600,2021-10-10 16:00:03,공범 EP1

In [ ]:
video['ct'] = pd.to_datetime(video['ct'])
ans = video.videoname.value_counts()
print(ans)

 공범 EP1    3492
 공범 EP2    3204
 공범 EP3    2568
 공범 EP4    2280
 공범 EP5    1562
 공범 EP6    1274
 공범 EP7     555
 공범 EP8     266
Name: videoname, dtype: int64

In [ ]:
ans = video.sort_values(['videoname','ct']).drop_duplicates('videoname', keep = 'last')[['viewcnt','videoname','ct']].reset_index(drop=True)

In [ ]:
ans

   viewcnt videoname                  ct
0  3180532    공범 EP1 2021-11-01 15:30:03
1  2199328    공범 EP2 2021-11-01 15:30:03
2  1671294    공범 EP3 2021-11-01 15:30:03
3  1818493    공범 EP4 2021-11-01 15:30:03
4  1503435    공범 EP5 2021-11-01 15:30:04
5  1750222    공범 EP6 2021-11-01 15:30:04
6  1630200    공범 EP7 2021-11-01 15:30:05
7  1289088    공범 EP8 2021-11-01 15:30:05

In [3]:
channel.head()

,channelid,subcnt,viewcnt,videocnt,ct,channelname
0,UCkQCwnkQfgSuPTTnw_Y7v7w,1310000,410238653,736,2021-09-30 03:01:03,꽈뚜룹
1,UCkQCwnkQfgSuPTTnw_Y7v7w,1310000,412531322,736,2021-09-30 09:01:03,꽈뚜룹
2,UCkQCwnkQfgSuPTTnw_Y7v7w,1310000,412531322,735,2021-09-30 15:01:03,꽈뚜룹
3,UCkQCwnkQfgSuPTTnw_Y7v7w,1310000,412531322,737,2021-09-30 21:01:03,꽈뚜룹
4,UCkQCwnkQfgSuPTTnw_Y7v7w,1320000,412531322,737,2021-10-01 03:01:04,꽈뚜룹

In [4]:
channel['ct'] = pd.to_datetime(channel['ct'])

In [7]:
ans = channel.loc[channel['ct'] >= pd.to_datetime('2021-10-03')].sort_values(['ct','channelname']).drop_duplicates('channelname')

In [9]:
ans2 = ans[['channelname','subcnt']].reset_index(drop=True)
ans2

        channelname   subcnt
0            논리왕 전기   922000
1             야전삽짱재   257000
2        츄정ChuJeong   322000
3        김농밀의 농밀한 삶     7520
4       릴펄 Lilpearl    10100
5   와글와글 WagleWagle    55000
6               조나단   215000
7           형사!탐정되다    14900
8     Balming Tiger    54300
9     곽토리 kwak tori   471000
10              꽈뚜룹  1330000

In [10]:
channel['del'] = channel.loc[channel['ct'] == pd.to_datetime('2021-11-01 15:00:00')]['subcnt'] - channel.loc[channel['ct'] == pd.to_datetime('2021-10-03 03:00:00')]['subcnt']

In [11]:
channel.head()

,channelid,subcnt,viewcnt,videocnt,ct,channelname,del
0,UCkQCwnkQfgSuPTTnw_Y7v7w,1310000,410238653,736,2021-09-30 03:01:03,꽈뚜룹,NaN
1,UCkQCwnkQfgSuPTTnw_Y7v7w,1310000,412531322,736,2021-09-30 09:01:03,꽈뚜룹,NaN
2,UCkQCwnkQfgSuPTTnw_Y7v7w,1310000,412531322,735,2021-09-30 15:01:03,꽈뚜룹,NaN
3,UCkQCwnkQfgSuPTTnw_Y7v7w,1310000,412531322,737,2021-09-30 21:01:03,꽈뚜룹,NaN
4,UCkQCwnkQfgSuPTTnw_Y7v7w,1320000,412531322,737,2021-10-01 03:01:04,꽈뚜룹,NaN

In [12]:
end = channel.loc[channel.ct.dt.strftime('%Y-%m-%d %H') == '2021-11-01 15']
start = channel.loc[channel.ct.dt.strftime('%Y-%m-%d %H') == '2021-10-03 03']

In [13]:
end_df = end[['channelname', 'subcnt']].reset_index(drop = True)
end_df

        channelname   subcnt
0               꽈뚜룹  1400000
1             야전삽짱재   268000
2        츄정ChuJeong   323000
3            논리왕 전기   911000
4   와글와글 WagleWagle    55000
5               조나단   227000
6           형사!탐정되다    25200
7        김농밀의 농밀한 삶     9060
8       릴펄 Lilpearl    21100
9     곽토리 kwak tori   469000
10    Balming Tiger    56800

In [14]:
start_df = start[['channelname', 'subcnt']].reset_index(drop=True)
start_df

        channelname   subcnt
0               꽈뚜룹  1330000
1             야전삽짱재   257000
2        츄정ChuJeong   322000
3            논리왕 전기   922000
4   와글와글 WagleWagle    55000
5               조나단   215000
6           형사!탐정되다    14900
7        김농밀의 농밀한 삶     7520
8       릴펄 Lilpearl    10100
9     곽토리 kwak tori   471000
10    Balming Tiger    54300

In [15]:
end_df.columns = ['channelname','end_sub']

In [16]:
end_df.columns

Index(['channelname', 'end_sub'], dtype='object')

In [17]:
start_df.columns = ['channelname','start_sub']

In [18]:
tt = pd.merge(start_df, end_df)
tt

        channelname  start_sub  end_sub
0               꽈뚜룹    1330000  1400000
1             야전삽짱재     257000   268000
2        츄정ChuJeong     322000   323000
3            논리왕 전기     922000   911000
4   와글와글 WagleWagle      55000    55000
5               조나단     215000   227000
6           형사!탐정되다      14900    25200
7        김농밀의 농밀한 삶       7520     9060
8       릴펄 Lilpearl      10100    21100
9     곽토리 kwak tori     471000   469000
10    Balming Tiger      54300    56800

In [19]:
tt['del'] =  tt['end_sub'] - tt['start_sub']
tt

        channelname  start_sub  end_sub    del
0               꽈뚜룹    1330000  1400000  70000
1             야전삽짱재     257000   268000  11000
2        츄정ChuJeong     322000   323000   1000
3            논리왕 전기     922000   911000 -11000
4   와글와글 WagleWagle      55000    55000      0
5               조나단     215000   227000  12000
6           형사!탐정되다      14900    25200  10300
7        김농밀의 농밀한 삶       7520     9060   1540
8       릴펄 Lilpearl      10100    21100  11000
9     곽토리 kwak tori     471000   469000  -2000
10    Balming Tiger      54300    56800   2500

In [21]:
start_date = video.sort_values(['ct','videoname']).drop_duplicates('videoname')[['ct','videoname']]
start_date['date'] = start_date.ct.dt.date
ans = start_date[['date','videoname']]
display(ans)

AttributeError: ignored

In [22]:
start_date = video.sort_values(['ct','videoname']).drop_duplicates('videoname')[['ct','videoname']]
start_date['date'] = start_date.ct.dt.date
answer = start_date[['date','videoname']]
display(answer)

AttributeError: ignored

In [25]:
target = video.sort_values('ct').drop_duplicates('videoname', keep='last')
target['ratio'] = target['likecnt']/target['dislikecnt']

In [27]:
ans = target.sort_values('ratio')[['videoname','ratio']].reset_index(drop=True)
ans

  videoname      ratio
0    공범 EP8   7.074289
1    공범 EP2  33.507208
2    공범 EP1  36.876011
3    공범 EP3  44.722441
4    공범 EP5  47.330166
5    공범 EP4  55.644608
6    공범 EP6  62.966581
7    공범 EP7  73.337500

In [28]:
start =  pd.to_datetime('2021-11-01 00:00:00')
end = pd.to_datetime('2021-11-01 15:00:00')
end

Timestamp('2021-11-01 15:00:00')

In [29]:
target = video.loc[(video['ct'] >= start) & (video['ct'] < end)].reset_index(drop=True)

target

TypeError: ignored

In [30]:
start = pd.to_datetime("2021-11-01 00:00:00")
end = pd.to_datetime("2021-11-01 15:00:00")

target = video.loc[(video["ct"] >= start) & (video['ct'] <= end)].reset_index(drop=True)

def check(x):
    result = max(x) - min(x)
    return result

answer = target[['videoname','viewcnt']].groupby("videoname").agg(check)
answer

TypeError: ignored

In [23]:
video.head()

,videopk,viewcnt,likecnt,dislikecnt,favoritecnt,cmcnt,ct,videoname
0,c5JQp6xafqc,1667010,30474,706,0,6587,2021-10-10 15:20:03,공범 EP1
1,c5JQp6xafqc,1669089,30495,707,0,6589,2021-10-10 15:30:03,공범 EP1
2,c5JQp6xafqc,1674759,30522,711,0,6596,2021-10-10 15:40:02,공범 EP1
3,c5JQp6xafqc,1677026,30555,712,0,6604,2021-10-10 15:50:03,공범 EP1
4,c5JQp6xafqc,1681824,30585,713,0,6600,2021-10-10 16:00:03,공범 EP1

In [6]:
ans

,channelid,subcnt,viewcnt,videocnt,ct,channelname
393,UCDV9zgWo7b6nPg7i49oRQ5Q,922000,99187513,82,2021-10-03 03:01:02,논리왕 전기
139,UCEI4rb8YldV8v0dVUSo9ToQ,257000,28415226,73,2021-10-03 03:01:02,야전삽짱재
266,UCqwNCDzQBfw2seMRJpL-RWg,322000,71955394,212,2021-10-03 03:01:02,츄정ChuJeong
901,UCOYhhfLMGY8OjsbfGNVf7Lw,7520,1444890,15,2021-10-03 03:01:03,김농밀의 농밀한 삶
1028,UCKOeR5Evsupc77nPL3qCMnw,10100,188523,21,2021-10-03 03:01:03,릴펄 Lilpearl
...,...,...,...,...,...,...
1273,UCs9H--14toIRdJQAD9qz9tA,469000,130097921,563,2021-11-01 15:01:05,곽토리 kwak tori
1019,UCOYhhfLMGY8OjsbfGNVf7Lw,9060,1414920,16,2021-11-01 15:01:05,김농밀의 농밀한 삶
1146,UCKOeR5Evsupc77nPL3qCMnw,21100,597680,8,2021-11-01 15:01:05,릴펄 Lilpearl
1394,UCbBzKnCYcG7E3EIkSTdsawA,56800,7539876,57,2021-11-01 15:01:07,Balming Tiger
130,UCkQCwnkQfgSuPTTnw_Y7v7w,1400000,440372648,746,2021-11-01 15:01:08,꽈뚜룹

In [31]:
import pandas as pd

df= pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/worldcup/worldcupgoals.csv')
df.head()

           Player  Goals                Years  Country
0  Miroslav Klose     16  2002-2006-2010-2014  Germany
1         Ronaldo     15       1998-2002-2006   Brazil
2     Gerd Muller     14            1970-1974  Germany
3   Just Fontaine     13                 1958   France
4            Pele     12  1958-1962-1966-1970   Brazil

In [34]:
ans = df.sort_values('Goals').head(5).groupby('Country').Goals.size()

In [36]:
ans = df.groupby('Country').sum().sort_values('Goals', ascending=False).head(5)
ans

<ipython-input-36-a4f7cdca2e72>:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  ans = df.groupby('Country').sum().sort_values('Goals', ascending=False).head(5)

           Goals
Country
Brazil       228
Germany      226
Argentina    135
Italy        123
France       115

In [37]:
df.head()

           Player  Goals                Years  Country
0  Miroslav Klose     16  2002-2006-2010-2014  Germany
1         Ronaldo     15       1998-2002-2006   Brazil
2     Gerd Muller     14            1970-1974  Germany
3   Just Fontaine     13                 1958   France
4            Pele     12  1958-1962-1966-1970   Brazil

In [40]:
df.sort_values('Goals', ascending=False).groupby('Country')

In [42]:
df.groupby('Country').size().sort_values(ascending=False).head(5)

Country
Brazil       81
Germany      78
Italy        60
Argentina    59
France       58
dtype: int64

In [43]:
df['yearLst'] = df.Years.str.split('-')

def checkFour(x):
  for value in x:
    if len(str(value)) != 4:
      return False
  return True

df['check'] = df['yearLst'].apply(checkFour)
result = len(df[df.check ==False])
result

45

In [47]:
df2 = df.loc[df['check'] == True].reset_index(drop=True)
df2.shape

(1250, 6)

In [49]:
df2['LenCup'] = df2['yearLst'].str.len()
result = df2['LenCup'].value_counts()[4]
result

16

In [50]:
result = df2['LenCup'].value_counts()

In [54]:
result[4]

16

In [55]:
df2.head()

,Player,Goals,Years,Country,yearLst,check,LenCup
0,Miroslav Klose,16,2002-2006-2010-2014,Germany,"[2002, 2006, 2010, 2014]",True,4
1,Ronaldo,15,1998-2002-2006,Brazil,"[1998, 2002, 2006]",True,3
2,Gerd Muller,14,1970-1974,Germany,"[1970, 1974]",True,2
3,Just Fontaine,13,1958,France,[1958],True,1
4,Pele,12,1958-1962-1966-1970,Brazil,"[1958, 1962, 1966, 1970]",True,4

In [60]:
len(df2.loc[(df2['Country'] == 'Yugoslavia') & (df2['LenCup'] ==2)])

7

In [63]:
len(df2.loc[df2.Years.str.contains('2002')])

156

In [68]:
len(df2.loc[df2.Player.str.lower().str.contains('carlos')])

13

In [75]:
df2.loc[df2.LenCup == 1].sort_values('Goals', ascending = False).Player.values[0]

'Just Fontaine'

In [82]:
df2.loc[df2.LenCup == 1].Country.value_counts().index[0]

'Brazil'

In [67]:
result = len(df2[df2.Player.str.lower().str.contains('carlos')])
print(result)

13

In [48]:
df2.len(df.y)

,Player,Goals,Years,Country,yearLst,check
0,Miroslav Klose,16,2002-2006-2010-2014,Germany,"[2002, 2006, 2010, 2014]",True
1,Ronaldo,15,1998-2002-2006,Brazil,"[1998, 2002, 2006]",True
2,Gerd Muller,14,1970-1974,Germany,"[1970, 1974]",True
3,Just Fontaine,13,1958,France,[1958],True
4,Pele,12,1958-1962-1966-1970,Brazil,"[1958, 1962, 1966, 1970]",True

In [33]:
ans